* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    background-color: rgb(68, 68, 68);
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.nav-bar {
    background-color: white;
    display: flex;
    flex-flow: row;
    /* padding: 24px; */
    justify-content: space-between;
}

/* .history-container {
    background-color: blue;
} */

.shortener-container {
    /* background-color: blueviolet; */
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 24px;
}

.footer-container {
    /* background-color: brown; */
    /* position: fixed;
    bottom: 0;
    width: 100%;
    */
    padding: 24px;
    text-align: center;
    color: white;
}

a {
    color: cornsilk;
}

.nav-item {
    text-decoration: none;
    padding: 24px;
    color: black;
}

#longUrlInput {
    padding: 15px;
    width: 500px;
    /* border-radius: 30px; */
    border-width: 0;
}

#longUrlInput:hover {
    /* border-width: 3px; */
    
}

#shrink-btn {
    padding: 10px;
}

#url-form {
    display: flex;
}

.output-container {
    margin-top: 20px;
    color: white;
}

.urlTableContainer {
    display: inline-block;
    color: white;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
}

.table-top-level-container {
    display: flex;
    align-items: center;
}

table {
    border: 2px;
}

th, td {
    padding: 15px;
    text-align: left;
  }
  